name: nordic_dfu_example
description: Demonstrates how to use the nordic_dfu plugin.
publish_to: 'none'

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_blue: ^0.8.0
  collection: ^1.15.0

dev_dependencies:
  flutter_lints: ^1.0.4
  flutter_test:
    sdk: flutter

  nordic_dfu:
    path: ../

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
#  assets:
#    - assets/file.zip
