
name: widget tests & code analysis

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3.13.0
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '11'
      # Use the community Action to install Flutter
      - uses: subosito/flutter-action@v2.10.0
      - name: Version
        run: flutter doctor -v
      - name: Install dependencies
        run: flutter pub get
      - name: Format
        run: dart format --set-exit-if-changed .
      - name: Linter
        run: flutter analyze
#       - name: Test
#         run: flutter test
